.title{
    text-align: center;
}

.contacts{
    text-align: center;
}

.newContact{
    padding-top: 100px;
    text-align: center;
}

.login{
    padding-top: 100px;
    text-align: center;
}

.userControl{
    text-align: center;
}